@{
    // find a way to do C file I/O on refresh to save locally
    ViewData["Title"] = "New Entry";
}
    <script src="~/js/site.js"></script>
 
    <script>
         updateLocal=(j)=>{
                              let serial=JSON.stringify(j);
                              localStorage.setItem("Journal",serial); }
                check=()=>{
                  if (localStorage.getItem("Journal")===true)  {
                      console.log(localStorage.getItem("Journal"));
                      return true;
                }
                  }
           
       document.addEventListener("DOMContentLoaded", function(){
            const p = new User();
              if (check()===true){
                         j = JSON.parse(localStorage.getItem("Journal"));
                       
                                      document.getElementById("button2").addEventListener("click", (event)=>{
                                          j.enterJournal(event);
                                          updateLocal(j);
                                                                                                                 });
                                       document.getElementById("button1").addEventListener("click", (event)=>{
                                          p.getData(event);
                                                                                                                 }); 
                        }
                    else{
                        var j = new Journal();
                       
                                      document.getElementById("button2").addEventListener("click", (event)=>{
                                          j.enterJournal(event);
                                          updateLocal(j);
                                                                                                                 });
                                       document.getElementById("button1").addEventListener("click", (event)=>{
                                          p.getData(event);
                                                                                                                 }); 
                        
                                
                      }
           
       });
          let today = new Date();
          const dd = String(today.getDate()).padStart(2, '0');
          const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          const yyyy = today.getFullYear();
          
          today = mm + '/' + dd + '/' + yyyy;
           document.writeln(today);
        
           
        </script>



<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">
        <u>
            <h2 id="greeting">WELCOME !</h2>
        </u>
    </h1>
    <img alt="welcome img" src="https://media.istockphoto.com/id/1223088904/vector/flag-ribbon-welcome-old-school-flag-banner.jpg?s=612x612&w=0&k=20&c=7YSaR2mu9H2ezvyONvjtqf8HRTzBaya1wNYFfwAiW80=">
    <h2> Submit your input below this line.</h2>
    
    <form id="form"  style="padding-top:40px">
        Enter your name: <input type="text" id="name" required placeholder="Your full name">
        <input type="submit" id="button1">
    </form>
    <form id="form2"  style="padding-top:40px">
        Enter your journal entry: <textarea id="entry" required placeholder="Your journal entry"></textarea>
        <input type="submit" id="button2">
    </form>

    <p style="margin-top: 200px" class="center">This is a basic footer with inline styling.</p>
    <script>
     
    
    </script>
    <footer>
        
    </footer>
</div>
