@{
    ViewData["Title"] = "Home page (REDIRECT 1)";
    ViewData["Style"] = "background-color:cadetblue";
}

<div class="text-center" >
    <h1 class="display-4"><u><b>WELCOME, USER!</b></u></h1>
    <img alt="welcome img"src="https://media.istockphoto.com/id/1223088904/vector/flag-ribbon-welcome-old-school-flag-banner.jpg?s=612x612&w=0&k=20&c=7YSaR2mu9H2ezvyONvjtqf8HRTzBaya1wNYFfwAiW80="></img>
    <h2> Submit your input below this line.</h2>
    <p style="margin-top: 200px" class="center">This is a basic paragraph with inline styling.</p>
</div>