@{
    // find a way to do C file I/O on refresh to save locally
    ViewData["Title"] = "New Entry";
}
    <script src="~/js/site.js"></script>
 
    <script>
         updateLocal=(j)=>{
                              let serial=JSON.stringify(j);
                              localStorage.setItem("Journal",serial); }
                check=()=>{
                  if (localStorage.getItem("Journal")!==null)  {
                      return true;
                }
                  }
           
       document.addEventListener("DOMContentLoaded", function(){
            const p = new User();
              let j = new Journal();
              if (check()===true){
                        var d = JSON.parse(localStorage.getItem("Journal"));
                                      document.getElementById("submit").addEventListener("click", (event)=>{
                                          j.enterJournal(event,d);
                                          updateLocal(j);
                                                                                                                 });
                                       document.getElementById("name").addEventListener("click", (event)=>{
                                          p.getData(event);
                                          
                                                                                                                 }); 
                                          document.getElementById("delete").addEventListener("click", (event)=>{
                                              event.preventDefault();
                                                                                            j.reset();
                                                                                                                                                                                });
                        }
                    else{
                       
                                      document.getElementById("entry").addEventListener("click", (event)=>{
                                          j.enterJournal(event,undefined);
                                          updateLocal(j);
                                          
                                                                                                                 });
                                       document.getElementById("name").addEventListener("click", (event)=>{
                                          p.getData(event);
                               document.getElementById("show").addEventListener("click", (event)=>{
                                                                         event.preventDefault();
                                                                         j.display(j.make()); });
                                                                                                                                                          }); 
                     
                                
                      }
           
       });
          let today = new Date();
          const dd = String(today.getDate()).padStart(2, '0');
          const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          const yyyy = today.getFullYear();
          
          today = mm + '/' + dd + '/' + yyyy;
           document.writeln(today);
        
           
        </script>



<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">
        <u>
            <h2 id="greeting">WELCOME !</h2>
        </u>
    </h1>
    <img alt="welcome img" src="https://media.istockphoto.com/id/1223088904/vector/flag-ribbon-welcome-old-school-flag-banner.jpg?s=612x612&w=0&k=20&c=7YSaR2mu9H2ezvyONvjtqf8HRTzBaya1wNYFfwAiW80=">
    <h2 style="padding-top:20px"> <i>How was your day?</i></h2>
    
    <form id="form1"  style="padding-top:20px">
        Enter your name: <input type="text" id="input1" required placeholder="Your full name">
        <input type="submit" id="name">
    </form>
    <form id="form2"  style="padding-top:40px">
        Enter your journal entry: <textarea id="entry" required placeholder="Your journal entry"></textarea>
        <input type="submit" id="submit">
    </form>
    <button id ="delete">delete</button>
     <button id ="show">show</button>
    <p style="margin-top: 200px" class="center">This is a basic footer with inline styling.</p>
    <script>
     
    
    </script>
    <footer>
        
    </footer>
</div>
