@{
    ViewData["Title"] = "Home page (REDIRECT 1)";
    ViewData["Style"] = "background-color:cadetblue";
}

<div class="text-center" >
    <h1 class="display-4"><u>Welcome to HOME in our views module.</u></h1>
    <p style="margin-top: 200px" class="center">This is a basic paragraph with inline styling.</p>
</div>